<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech-to-Text</title>
    <!-- Load Speech SDK from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk/dist/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
</head>
<body>
    <h1>EJS Hello</h1>
    <h4><%= name %></h4>
    <h4><%= project %></h4>
    <!-- Form for uploading audio file -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="audio">Upload Audio File:</label>
        <input type="file" name="audio" accept=".wav, .mp3" required>
        <button type="submit">Submit</button>
    </form>
    <% if (typeof translationText !== 'undefined') { %>
        <h4>Translation Result:</h4>
        <p><%= translationText %></p>
    <% } else { %>
        <p>No translation available currently</p>
    <% } %>
</body>
</html>